.navbar{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-self: end;
    padding:10px 0px;
    justify-content: end;
    gap: 5px;
    a{
        color:white;
        font-weight: 500;
        font-size: 20px;
        margin-right: 10px;
    }
    span{
        color: white;
    }
}

.example-spacer {
    flex: 1 1 auto;
  }
  